<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.activity.mapper.DjActivityPlanMapper">

    <resultMap type="DjActivityPlan" id="DjActivityPlanResult">
        <result property="planId" column="plan_id"/>
        <result property="planUuid" column="plan_uuid"/>
        <result property="activitySources" column="activity_sources"/>
        <result property="activityTheme" column="activity_theme"/>
        <result property="activityType" column="activity_type"/>
        <result property="conveneCycle" column="convene_cycle"/>
        <result property="cycleStartTime" column="cycle_start_time"/>
        <result property="cycleEndTime" column="cycle_end_time"/>
        <result property="cycleStartYear" column="cycle_start_year"/>
        <result property="cycleEndYear" column="cycle_end_year"/>
        <result property="cycleStartMonthUnit" column="cycle_start_month_unit"/>
        <result property="cycleEndMonthUnit" column="cycle_end_month_unit"/>
        <result property="cycleStartQuarterUnit" column="cycle_start_quarter_unit"/>
        <result property="cycleEndQuarterUnit" column="cycle_end_quarter_unit"/>
        <result property="actPlanRequirements" column="act_plan_requirements"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDjActivityPlanVo">
        select plan_id, plan_uuid, activity_sources, activity_theme, activity_type,
         convene_cycle, cycle_start_time, cycle_end_time, cycle_start_year,
         cycle_end_year, cycle_start_month_unit,cycle_end_month_unit,
          cycle_start_quarter_unit,cycle_end_quarter_unit,
         act_plan_requirements, status, del_flag, create_by,
          create_time, update_by, update_time
          from dj_activity_plan
    </sql>

    <sql id="selectDjActivityPlan">
        select p.plan_id, p.plan_uuid, p.activity_sources, p.activity_theme, p.activity_type,
         p.convene_cycle, p.cycle_start_time, p.cycle_end_time, p.cycle_start_year,
         p.cycle_end_year, p.cycle_start_month_unit,p.cycle_end_month_unit,
          p.cycle_start_quarter_unit,p.cycle_end_quarter_unit,
         p.act_plan_requirements, p.status, p.del_flag, p.create_by,
         p. create_time, p.update_by,p.update_time
          from dj_activity_plan p
    </sql>

    <select id="selectDjActivityPlanList" parameterType="DjActivityPlan" resultMap="DjActivityPlanResult">
        <include refid="selectDjActivityPlan"/>
        left join sys_user u on u.user_id = p.create_by
        left join dj_party_member m on m.member_id = u.party_member_id
        left join dj_party_org o on o.party_org_id = m.party_org_id
        <where>
            <if test="planUuid != null  and planUuid != ''">and p.plan_uuid = #{planUuid}</if>
            <if test="activitySources != null  and activitySources != ''">and p.activity_sources = #{activitySources}</if>
            <if test="activityTheme != null  and activityTheme != ''">
                and p.activity_theme like concat('%', #{activityTheme}, '%')
            </if>
            <if test="activityType != null  and activityType != ''">and p.activity_type = #{activityType}</if>
            <if test="conveneCycle != null  and conveneCycle != ''">and p.convene_cycle = #{conveneCycle}</if>
            <if test="cycleStartTime != null ">and p.cycle_start_time = #{cycleStartTime}</if>
            <if test="cycleEndTime != null ">and p.cycle_end_time = #{cycleEndTime}</if>
            <if test="cycleStartYear != null  and cycleStartYear != ''">and p.cycle_start_year = #{cycleStartYear}</if>
            <if test="cycleEndYear != null  and cycleEndYear != ''">and p.cycle_end_year = #{cycleEndYear}</if>

            <if test="cycleStartMonthUnit != null  and cycleStartMonthUnit != ''">and p.cycle_start_month_unit =
                #{cycleStartMonthUnit}
            </if>
            <if test="cycleEndMonthUnit != null  and cycleEndMonthUnit != ''">and p.cycle_end_month_unit =
                #{cycleEndMonthUnit}
            </if>
            <if test="cycleStartQuarterUnit != null  and cycleStartQuarterUnit != ''">and p.cycle_start_quarter_unit =
                #{cycleStartQuarterUnit}
            </if>
            <if test="cycleEndQuarterUnit != null  and cycleEndQuarterUnit != ''">and p.cycle_end_quarter_unit =
                #{cycleEndQuarterUnit}
            </if>

            <if test="actPlanRequirements != null  and actPlanRequirements != ''">and p.act_plan_requirements =
                #{actPlanRequirements}
            </if>
            <if test="status != null  and status != ''">and p.status = #{status}</if>
            ${dataScope}
        </where>
        order by p.create_time desc
    </select>

    <select id="selectDjActivityPlanById" parameterType="Long" resultMap="DjActivityPlanResult">
        <include refid="selectDjActivityPlanVo"/>
        where plan_id = #{planId}
    </select>

    <select id="selectDjActivityPlanByPlanUuid" parameterType="String" resultMap="DjActivityPlanResult">
        <include refid="selectDjActivityPlanVo"/>
        where plan_uuid = #{planUuid}
    </select>

    <insert id="insertDjActivityPlan" parameterType="DjActivityPlan" useGeneratedKeys="true" keyProperty="planId">
        insert into dj_activity_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">plan_uuid,</if>
            <if test="activitySources != null  and activitySources != ''">activity_sources,</if>
            <if test="activityTheme != null  and activityTheme != ''">activity_theme,</if>
            <if test="activityType != null  and activityType != ''">activity_type,</if>
            <if test="conveneCycle != null  and conveneCycle != ''">convene_cycle,</if>
            <if test="cycleStartTime != null ">cycle_start_time,</if>
            <if test="cycleEndTime != null ">cycle_end_time,</if>
            <if test="cycleStartYear != null  and cycleStartYear != ''">cycle_start_year,</if>
            <if test="cycleEndYear != null  and cycleEndYear != ''">cycle_end_year,</if>
            <if test="cycleStartMonthUnit != null  and cycleStartMonthUnit != ''">cycle_start_month_unit,</if>
            <if test="cycleEndMonthUnit != null  and cycleEndMonthUnit != ''">cycle_end_month_unit,</if>
            <if test="cycleStartQuarterUnit != null  and cycleStartQuarterUnit != ''">cycle_start_quarter_unit,</if>
            <if test="cycleEndQuarterUnit != null  and cycleEndQuarterUnit != ''">cycle_end_quarter_unit,</if>
            <if test="actPlanRequirements != null  and actPlanRequirements != ''">act_plan_requirements,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">#{planUuid},</if>
            <if test="activitySources != null  and activitySources != ''">#{activitySources},</if>
            <if test="activityTheme != null  and activityTheme != ''">#{activityTheme},</if>
            <if test="activityType != null  and activityType != ''">#{activityType},</if>
            <if test="conveneCycle != null  and conveneCycle != ''">#{conveneCycle},</if>
            <if test="cycleStartTime != null ">#{cycleStartTime},</if>
            <if test="cycleEndTime != null ">#{cycleEndTime},</if>
            <if test="cycleStartYear != null  and cycleStartYear != ''">#{cycleStartYear},</if>
            <if test="cycleEndYear != null  and cycleEndYear != ''">#{cycleEndYear},</if>
            <if test="cycleStartMonthUnit != null  and cycleStartMonthUnit != ''">#{cycleStartMonthUnit},</if>
            <if test="cycleEndMonthUnit != null  and cycleEndMonthUnit != ''">#{cycleEndMonthUnit},</if>
            <if test="cycleStartQuarterUnit != null  and cycleStartQuarterUnit != ''">#{cycleStartQuarterUnit},</if>
            <if test="cycleEndQuarterUnit != null  and cycleEndQuarterUnit != ''">#{cycleEndQuarterUnit},</if>
            <if test="actPlanRequirements != null  and actPlanRequirements != ''">#{actPlanRequirements},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDjActivityPlan" parameterType="DjActivityPlan">
        update dj_activity_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">plan_uuid = #{planUuid},</if>
            <if test="activitySources != null  and activitySources != ''">activity_sources = #{activitySources},</if>
            <if test="activityTheme != null  and activityTheme != ''">activity_theme = #{activityTheme},</if>
            <if test="activityType != null  and activityType != ''">activity_type = #{activityType},</if>
            <if test="conveneCycle != null  and conveneCycle != ''">convene_cycle = #{conveneCycle},</if>
            <if test="cycleStartTime != null ">cycle_start_time = #{cycleStartTime},</if>
            <if test="cycleEndTime != null ">cycle_end_time = #{cycleEndTime},</if>
            <if test="cycleStartYear != null  and cycleStartYear != ''">cycle_start_year = #{cycleStartYear},</if>
            <if test="cycleEndYear != null  and cycleEndYear != ''">cycle_end_year = #{cycleEndYear},</if>
            <if test="cycleStartMonthUnit != null  and cycleStartMonthUnit != ''"> cycle_start_month_unit =
                #{cycleStartMonthUnit},
            </if>
            <if test="cycleEndMonthUnit != null  and cycleEndMonthUnit != ''"> cycle_end_month_unit =
                #{cycleEndMonthUnit},
            </if>
            <if test="cycleStartQuarterUnit != null  and cycleStartQuarterUnit != ''"> cycle_start_quarter_unit =
                #{cycleStartQuarterUnit},
            </if>
            <if test="cycleEndQuarterUnit != null  and cycleEndQuarterUnit != ''"> cycle_end_quarter_unit =
                #{cycleEndQuarterUnit},
            </if>
            <if test="actPlanRequirements != null  and actPlanRequirements != ''">act_plan_requirements =
                #{actPlanRequirements},
            </if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteDjActivityPlanById" parameterType="Long">
        delete from dj_activity_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteDjActivityPlanByIds" parameterType="String">
        delete from dj_activity_plan where plan_id in
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>

</mapper>
