<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.activity.mapper.DjActivityArrangeMapper">

    <resultMap type="DjActivityArrange" id="DjActivityArrangeResult">
        <result property="id"    column="id"    />
        <result property="planUuid"    column="plan_uuid"    />
        <result property="partyOrgId"    column="party_org_id"    />
        <result property="partyMemberId"    column="party_member_id"    />
        <result property="venue"    column="venue"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjActivityArrangeVo">
        select id, plan_uuid, party_org_id, party_member_id, venue, status, del_flag, create_by, create_time, update_by, update_time from dj_activity_arrange
    </sql>

    <sql id="selectDjActivityArrange">
        select arrange.id, arrange.plan_uuid, arrange.party_org_id, arrange.party_member_id, arrange.venue,
        arrange.status, arrange.del_flag, arrange.create_by,
        arrange.create_time, arrange.update_by, arrange.update_time
        from dj_activity_arrange arrange
    </sql>


    <select id="selectDjActivityArrangeList" parameterType="DjActivityArrange" resultMap="DjActivityArrangeResult">
        <include refid="selectDjActivityArrange"/>
        <where>
            <if test="planUuid != null  and planUuid != ''"> and arrange.plan_uuid = #{planUuid}</if>
            <if test="partyOrgId != null "> and arrange.party_org_id = #{partyOrgId}</if>
            <if test="partyMemberId != null "> and arrange.party_member_id = #{partyMemberId}</if>
            <if test="venue != null  and venue != ''"> and arrange.venue = #{venue}</if>
            <if test="status != null  and status != ''"> and arrange.status = #{status}</if>
        </where>
    </select>

    <select id="selectArrangeListByParam" parameterType="DjActivityParams" resultMap="DjActivityArrangeResult">
        <include refid="selectDjActivityArrange"/>
        left join dj_activity_plan plan on arrange.plan_uuid = plan.plan_uuid
        <where>
            plan.status ='2'
            <if test="activityTheme != null  and activityTheme != ''">
                and plan.activity_theme like concat('%', #{activityTheme}, '%')
            </if>
            <if test="partyOrgId != null  and partyOrgId != ''">
                and arrange.party_org_id = #{partyOrgId}
            </if>
            ${dataScope}
        </where>
    </select>

    <select id="selectDjActivityArrangeById" parameterType="Long" resultMap="DjActivityArrangeResult">
        <include refid="selectDjActivityArrangeVo"/>
        where id = #{id}
    </select>

    <insert id="insertDjActivityArrange" parameterType="DjActivityArrange" useGeneratedKeys="true" keyProperty="id">
        insert into dj_activity_arrange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">plan_uuid,</if>
            <if test="partyOrgId != null ">party_org_id,</if>
            <if test="partyMemberId != null ">party_member_id,</if>
            <if test="venue != null  and venue != ''">venue,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">#{planUuid},</if>
            <if test="partyOrgId != null ">#{partyOrgId},</if>
            <if test="partyMemberId != null ">#{partyMemberId},</if>
            <if test="venue != null  and venue != ''">#{venue},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjActivityArrange" parameterType="DjActivityArrange">
        update dj_activity_arrange
        <trim prefix="SET" suffixOverrides=",">
            <if test="planUuid != null  and planUuid != ''">plan_uuid = #{planUuid},</if>
            <if test="partyOrgId != null ">party_org_id = #{partyOrgId},</if>
            <if test="partyMemberId != null ">party_member_id = #{partyMemberId},</if>
            <if test="venue != null  and venue != ''">venue = #{venue},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDjActivityArrangeById" parameterType="Long">
        delete from dj_activity_arrange where id = #{id}
    </delete>

    <delete id="deleteDjActivityArrangeByIds" parameterType="String">
        delete from dj_activity_arrange where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
