<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.activity.mapper.DjActivitySuperviseMapper">

    <resultMap type="DjActivitySupervise" id="DjActivitySuperviseResult">
        <result property="superviseId"    column="supervise_id"    />
        <result property="detailedUuid"    column="detailed_uuid"    />
        <result property="content"    column="content"    />
        <result property="partyMemberId"    column="party_member_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjActivitySuperviseVo">
        select supervise_id, detailed_uuid, content, party_member_id, del_flag, create_by, create_time, update_by, update_time from dj_activity_supervise
    </sql>

    <select id="selectDjActivitySuperviseList" parameterType="DjActivitySupervise" resultMap="DjActivitySuperviseResult">
        <include refid="selectDjActivitySuperviseVo"/>
        <where>
            <if test="superviseId != null "> and supervise_id = #{superviseId}</if>
            <if test="detailedUuid != null  and detailedUuid != ''"> and detailed_uuid = #{detailedUuid}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="partyMemberId != null "> and party_member_id = #{partyMemberId}</if>
        </where>
    </select>

    <select id="selectDjActivitySuperviseById" parameterType="Long" resultMap="DjActivitySuperviseResult">
        <include refid="selectDjActivitySuperviseVo"/>
        where supervise_id = #{superviseId}
    </select>

    <insert id="insertDjActivitySupervise" parameterType="DjActivitySupervise" useGeneratedKeys="true" keyProperty="superviseId">
        insert into dj_activity_supervise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detailedUuid != null  and detailedUuid != ''">detailed_uuid,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="partyMemberId != null ">party_member_id,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detailedUuid != null  and detailedUuid != ''">#{detailedUuid},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="partyMemberId != null ">#{partyMemberId},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjActivitySupervise" parameterType="DjActivitySupervise">
        update dj_activity_supervise
        <trim prefix="SET" suffixOverrides=",">
            <if test="detailedUuid != null  and detailedUuid != ''">detailed_uuid = #{detailedUuid},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="partyMemberId != null ">party_member_id = #{partyMemberId},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where supervise_id = #{superviseId}
    </update>

    <delete id="deleteDjActivitySuperviseById" parameterType="Long">
        delete from dj_activity_supervise where supervise_id = #{superviseId}
    </delete>

    <delete id="deleteDjActivitySuperviseByIds" parameterType="String">
        delete from dj_activity_supervise where supervise_id in
        <foreach item="superviseId" collection="array" open="(" separator="," close=")">
            #{superviseId}
        </foreach>
    </delete>

</mapper>
