<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjOrgAssessmentyearMapper">
    
    <resultMap type="DjOrgAssessmentyear" id="DjOrgAssessmentyearResult">
        <result property="id"    column="id"    />
        <result property="assessmentyearUuid"    column="assessmentYear_uuid"    />
        <result property="year"    column="year"    />
        <result property="assessmentName"    column="assessment_name"    />
        <result property="orgAssessmentStatus"    column="org_assessment_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjOrgAssessmentyearVo">
        select id, assessmentYear_uuid, year, assessment_name, org_assessment_status, del_flag, create_by, create_time, update_by, update_time from dj_org_assessmentyear
    </sql>

    <select id="selectDjOrgAssessmentyearList" parameterType="DjOrgAssessmentyear" resultMap="DjOrgAssessmentyearResult">
        <include refid="selectDjOrgAssessmentyearVo"/>
        <where>  
            <if test="assessmentyearUuid != null  and assessmentyearUuid != ''"> and assessmentYear_uuid = #{assessmentyearUuid}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="assessmentName != null  and assessmentName != ''"> and assessment_name like concat('%', #{assessmentName}, '%')</if>
            <if test="orgAssessmentStatus != null  and orgAssessmentStatus != ''"> and org_assessment_status = #{orgAssessmentStatus}</if>
        </where>
        order by year desc
    </select>
    
    <select id="selectDjOrgAssessmentyearById" parameterType="Long" resultMap="DjOrgAssessmentyearResult">
        <include refid="selectDjOrgAssessmentyearVo"/>
        where id = #{id}
    </select>

        
    <insert id="insertDjOrgAssessmentyear" parameterType="DjOrgAssessmentyear" useGeneratedKeys="true" keyProperty="id">
        insert into dj_org_assessmentyear
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assessmentyearUuid != null  and assessmentyearUuid != ''">assessmentYear_uuid,</if>
            <if test="year != null  and year != ''">year,</if>
            <if test="assessmentName != null  and assessmentName != ''">assessment_name,</if>
            <if test="orgAssessmentStatus != null  and orgAssessmentStatus != ''">org_assessment_status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assessmentyearUuid != null  and assessmentyearUuid != ''">#{assessmentyearUuid},</if>
            <if test="year != null  and year != ''">#{year},</if>
            <if test="assessmentName != null  and assessmentName != ''">#{assessmentName},</if>
            <if test="orgAssessmentStatus != null  and orgAssessmentStatus != ''">#{orgAssessmentStatus},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjOrgAssessmentyear" parameterType="DjOrgAssessmentyear">
        update dj_org_assessmentyear
        <trim prefix="SET" suffixOverrides=",">
            <if test="assessmentyearUuid != null  and assessmentyearUuid != ''">assessmentYear_uuid = #{assessmentyearUuid},</if>
            <if test="year != null  and year != ''">year = #{year},</if>
            <if test="assessmentName != null  and assessmentName != ''">assessment_name = #{assessmentName},</if>
            <if test="orgAssessmentStatus != null  and orgAssessmentStatus != ''">org_assessment_status = #{orgAssessmentStatus},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDjOrgAssessmentyearById" parameterType="Long">
        delete from dj_org_assessmentyear where id = #{id}
    </delete>

    <delete id="deleteDjOrgAssessmentyearByIds" parameterType="String">
        delete from dj_org_assessmentyear where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>