<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjOrgAssessmentPerformanceScoreMapper">

    <resultMap type="DjOrgAssessmentPerformanceScore" id="DjOrgAssessmentPerformanceScoreResult">
        <result property="id"    column="id"    />
        <result property="assessmentUuid"    column="assessment_uuid"    />
        <result property="item"    column="item"    />
        <result property="orderNum"    column="order_num"    />
        <result property="score"    column="score"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjOrgAssessmentPerformanceScoreVo">
        select id, assessment_uuid, item, order_num, score,
         del_flag, create_by, create_time, update_by, update_time
         from dj_org_assessment_performance_score
    </sql>

    <select id="selectDjOrgAssessmentPerformanceScoreList" parameterType="DjOrgAssessmentPerformanceScore" resultMap="DjOrgAssessmentPerformanceScoreResult">
        <include refid="selectDjOrgAssessmentPerformanceScoreVo"/>
        <where>
            <if test="assessmentUuid != null  and assessmentUuid != ''"> and assessment_uuid = #{assessmentUuid}</if>
            <if test="item != null  and item != ''"> and item like concat('%', #{item}, '%')</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="score != null "> and score = #{score}</if>
        </where>
        order by order_num
    </select>

    <select id="selectDjOrgAssessmentPerformanceScoreById" parameterType="Long" resultMap="DjOrgAssessmentPerformanceScoreResult">
        <include refid="selectDjOrgAssessmentPerformanceScoreVo"/>
        where id = #{id}
    </select>

    <insert id="insertDjOrgAssessmentPerformanceScore" parameterType="DjOrgAssessmentPerformanceScore" useGeneratedKeys="true" keyProperty="id">
        insert into dj_org_assessment_performance_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assessmentUuid != null  and assessmentUuid != ''">assessment_uuid,</if>
            <if test="item != null  and item != ''">item,</if>
            <if test="orderNum != null ">order_num,</if>
            <if test="score != null ">score,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assessmentUuid != null  and assessmentUuid != ''">#{assessmentUuid},</if>
            <if test="item != null  and item != ''">#{item},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="score != null ">#{score},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjOrgAssessmentPerformanceScore" parameterType="DjOrgAssessmentPerformanceScore">
        update dj_org_assessment_performance_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="assessmentUuid != null  and assessmentUuid != ''">assessment_uuid = #{assessmentUuid},</if>
            <if test="item != null  and item != ''">item = #{item},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="score != null ">score = #{score},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDjOrgAssessmentPerformanceScoreById" parameterType="Long">
        delete from dj_org_assessment_performance_score where id = #{id}
    </delete>

    <delete id="deleteDjOrgAssessmentPerformanceScoreByIds" parameterType="String">
        delete from dj_org_assessment_performance_score where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getScoreItem" parameterType="String" resultType="String">
       SELECT doaps.item
       FROM (select * from dj_org_assessment_performance_score order by assessment_uuid  ,order_num asc)  doaps
	   LEFT JOIN dj_org_assessment doa ON doa.assessment_uuid = doaps.assessment_uuid
	   LEFT JOIN dj_org_assessmentyear doay on doay.assessmentYear_uuid = doa.assessmentYear_uuid
	   where doay.assessmentYear_uuid =  #{assessmentYearUuid}
	   GROUP BY doaps.item
    </select>

</mapper>
