<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjPartyMemberEducationMapper">

    <resultMap type="DjPartyMemberEducation" id="DjPartyMemberEducationResult">
        <result property="educationId"    column="education_id"    />
        <result property="educationUuid"    column="education_uuid"    />
        <result property="educationType"    column="education_type"    />
        <result property="school"    column="school"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="major"    column="major"    />
        <result property="fullTimeType"    column="full_time_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjPartyMemberEducationVo">
        select pme.education_id, pme.education_uuid, pme.education_type, pme.school,
        pme.start_date, pme.end_date, pme.major,pme.full_time_type, pme.create_by, pme.create_time,
        pme.update_by, pme.update_time from dj_party_member_education pme
    </sql>

    <select id="selectDjPartyMemberEducationList" parameterType="DjPartyMemberEducation" resultMap="DjPartyMemberEducationResult">
        <include refid="selectDjPartyMemberEducationVo"/>
        left join sys_dict_data sdd on sdd.dict_type ='education_type1' and sdd.dict_value =  pme.education_type
        <where>
            <if test="educationUuid != null  and educationUuid != ''"> and pme.education_uuid = #{educationUuid}</if>
            <if test="educationType != null  and educationType != ''"> and pme.education_type = #{educationType}</if>
            <if test="school != null  and school != ''"> and pme.school like concat('%', #{school}, '%')</if>
            <if test="startDate != null "> and pme.start_date = #{startDate}</if>
            <if test="endDate != null "> and pme.end_date = #{endDate}</if>
            <if test="major != null  and major != ''"> and pme.major = #{major}</if>
            <if test="fullTimeType != null  and fullTimeType != ''"> and pme.full_time_type = #{fullTimeType}</if>
        </where>
        order by sdd.dict_sort asc
    </select>

    <select id="selectDjPartyMemberEducationById" parameterType="Long" resultMap="DjPartyMemberEducationResult">
        <include refid="selectDjPartyMemberEducationVo"/>
        where education_id = #{educationId}
    </select>

    <insert id="insertDjPartyMemberEducation" parameterType="DjPartyMemberEducation">
        insert into dj_party_member_education
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="educationId != null ">education_id,</if>
            <if test="educationUuid != null  and educationUuid != ''">education_uuid,</if>
            <if test="educationType != null  and educationType != ''">education_type,</if>
            <if test="school != null  and school != ''">school,</if>
            <if test="startDate != null ">start_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="major != null  and major != ''">major,</if>
            <if test="fullTimeType != null  and fullTimeType != ''">full_time_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="educationId != null ">#{educationId},</if>
            <if test="educationUuid != null  and educationUuid != ''">#{educationUuid},</if>
            <if test="educationType != null  and educationType != ''">#{educationType},</if>
            <if test="school != null  and school != ''">#{school},</if>
            <if test="startDate != null ">#{startDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="major != null  and major != ''">#{major},</if>
            <if test="fullTimeType != null  and fullTimeType != ''">#{fullTimeType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjPartyMemberEducation" parameterType="DjPartyMemberEducation">
        update dj_party_member_education
        <trim prefix="SET" suffixOverrides=",">
            <if test="educationUuid != null  and educationUuid != ''">education_uuid = #{educationUuid},</if>
            <if test="educationType != null  and educationType != ''">education_type = #{educationType},</if>
            <if test="school != null  and school != ''">school = #{school},</if>
            <if test="startDate != null ">start_date = #{startDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="major != null  and major != ''">major = #{major},</if>
            <if test="fullTimeType != null  and fullTimeType != ''">full_time_type = #{fullTimeType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where education_id = #{educationId}
    </update>

    <delete id="deleteDjPartyMemberEducationById" parameterType="Long">
        delete from dj_party_member_education where education_id = #{educationId}
    </delete>

    <delete id="deleteDjPartyMemberEducationByIds" parameterType="String">
        delete from dj_party_member_education where education_id in
        <foreach item="educationId" collection="array" open="(" separator="," close=")">
            #{educationId}
        </foreach>
    </delete>

</mapper>
