<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjPartyMemberDueMapper">

    <resultMap type="DjPartyMemberDue" id="DjPartyMemberDueResult">
        <result property="dueMemberId"    column="due_member_id"    />
        <result property="dueOrgId"    column="due_org_id"    />
        <result property="partyMemberId"    column="party_member_id"    />
        <result property="month"    column="month"    />
        <result property="salary"    column="salary"    />
        <result property="ratio"    column="ratio"    />
        <result property="due"    column="due"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjPartyMemberDueVo">
        select dpmd.due_member_id, dpmd.due_org_id, dpmd.party_member_id, dpmd.month, dpmd.salary, dpmd.ratio, dpmd.due,
               dpmd.del_flag, dpmd.create_by, dpmd.create_time, dpmd.update_by, dpmd.update_time
        from dj_party_member_due dpmd
    </sql>

    <select id="selectDjPartyMemberDueList" parameterType="DjPartyMemberDue" resultMap="DjPartyMemberDueResult">
        <include refid="selectDjPartyMemberDueVo"/>
        left join dj_party_member_due_org dpmdo on dpmdo.due_org_id = dpmd.due_org_id
        left join dj_party_member_due_plan dpmdp on dpmdo.due_plan_uuid = dpmdp.due_plan_uuid
        left join dj_party_member dpm on dpm.member_id = dpmd.party_member_id
        left join sys_user su on dpm.member_id = su.party_member_id
        <where>
            <if test="partyMember!=null and partyMember.memberName != null and partyMember.memberName != '' ">
                and dpm.member_name like  concat('%', #{partyMember.memberName}, '%')
             </if>
            <if test="partyOrg!=null and partyOrg.partyOrgId != null  ">
                and  dpmdo.party_org_id = #{partyOrg.partyOrgId}
            </if>
            <if test="duePlan!=null and duePlan.year != null  ">
                and  dpmdp.year = #{duePlan.year}
            </if>
            <if test="dueOrg!=null and dueOrg.status != null  ">
                and  dpmdo.status = #{dueOrg.status}
            </if>
            <if test="dueOrgId != null "> and dpmd.due_org_id = #{dueOrgId}</if>
            <if test="partyMemberId != null "> and dpmd.party_member_id = #{partyMemberId}</if>
            <if test="month != null "> and dpmd.month = #{month}</if>
            <if test="salary != null "> and dpmd.salary = #{salary}</if>
            <if test="ratio != null  and ratio != ''"> and dpmd.ratio = #{ratio}</if>
            <if test="due != null "> and dpmd.due = #{due}</if>
            ${dataScope}
        </where>
        order by dpmdp.year desc ,dpmd.month asc,
        dpm.order_num is null || dpm.order_num='' asc,
        dpm.order_num asc,
        dpm.party_org_id ,
        dpm.party_position_type is null || dpm.party_position_type='' asc,
        dpm.party_position_type asc ,
        CONVERT( dpm.member_name USING gbk ) COLLATE gbk_chinese_ci ASC
    </select>

    <select id="selectDjPartyMemberDueById" parameterType="Long" resultMap="DjPartyMemberDueResult">
        <include refid="selectDjPartyMemberDueVo"/>
        where dpmd.due_member_id = #{dueMemberId}
    </select>

    <insert id="insertDjPartyMemberDue" parameterType="DjPartyMemberDue" useGeneratedKeys="true" keyProperty="dueMemberId">
        insert into dj_party_member_due
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dueOrgId != null ">due_org_id,</if>
            <if test="partyMemberId != null ">party_member_id,</if>
            <if test="month != null ">month,</if>
            <if test="salary != null ">salary,</if>
            <if test="ratio != null  and ratio != ''">ratio,</if>
            <if test="due != null ">due,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dueOrgId != null ">#{dueOrgId},</if>
            <if test="partyMemberId != null ">#{partyMemberId},</if>
            <if test="month != null ">#{month},</if>
            <if test="salary != null ">#{salary},</if>
            <if test="ratio != null  and ratio != ''">#{ratio},</if>
            <if test="due != null ">#{due},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjPartyMemberDue" parameterType="DjPartyMemberDue">
        update dj_party_member_due
        <trim prefix="SET" suffixOverrides=",">
            <if test="dueOrgId != null ">due_org_id = #{dueOrgId},</if>
            <if test="partyMemberId != null ">party_member_id = #{partyMemberId},</if>
            <if test="month != null ">month = #{month},</if>
            <if test="salary != null ">salary = #{salary},</if>
            <if test="ratio != null  and ratio != ''">ratio = #{ratio},</if>
            <if test="due != null ">due = #{due},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where due_member_id = #{dueMemberId}
    </update>

    <delete id="deleteDjPartyMemberDueById" parameterType="Long">
        delete from dj_party_member_due where due_member_id = #{dueMemberId}
    </delete>

    <delete id="deleteDjPartyMemberDueByIds" parameterType="String">
        delete from dj_party_member_due where due_member_id in
        <foreach item="dueMemberId" collection="array" open="(" separator="," close=")">
            #{dueMemberId}
        </foreach>
    </delete>

</mapper>
