<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjPartyMemberFlowMapper">
    
    <resultMap type="DjPartyMemberFlow" id="DjPartyMemberFlowResult">
        <result property="flowId"    column="flow_id"    />
        <result property="flowMemberId"    column="flow_member_id"    />
        <result property="flowType"    column="flow_type"    />
        <result property="flowReasons"    column="flow_reasons"    />
        <result property="flowContact"    column="flow_contact"    />
        <result property="flowPartyBranchContactPeople"    column="flow_party_branch_contact_people"    />
        <result property="flowPartyBranchContact"    column="flow_party_branch_contact"    />
        <result property="flowCompany"    column="flow_company"    />
        <result property="flowCompanyPeople"    column="flow_company_people"    />
        <result property="flowCompanyContact"    column="flow_company_contact"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjPartyMemberFlowVo">
        select flow_id, flow_member_id, flow_type, flow_reasons, flow_contact, flow_party_branch_contact_people, flow_party_branch_contact, flow_company, flow_company_people, flow_company_contact, del_flag, create_by, create_time, update_by, update_time from dj_party_member_flow
    </sql>

    <select id="selectDjPartyMemberFlowList" parameterType="DjPartyMemberFlow" resultMap="DjPartyMemberFlowResult">
        <include refid="selectDjPartyMemberFlowVo"/>
        <where>  
            <if test="flowMemberId != null "> and flow_member_id = #{flowMemberId}</if>
            <if test="flowType != null  and flowType != ''"> and flow_type = #{flowType}</if>
            <if test="flowReasons != null  and flowReasons != ''"> and flow_reasons = #{flowReasons}</if>
            <if test="flowContact != null  and flowContact != ''"> and flow_contact = #{flowContact}</if>
            <if test="flowPartyBranchContactPeople != null  and flowPartyBranchContactPeople != ''"> and flow_party_branch_contact_people = #{flowPartyBranchContactPeople}</if>
            <if test="flowPartyBranchContact != null  and flowPartyBranchContact != ''"> and flow_party_branch_contact = #{flowPartyBranchContact}</if>
            <if test="flowCompany != null  and flowCompany != ''"> and flow_company = #{flowCompany}</if>
            <if test="flowCompanyPeople != null  and flowCompanyPeople != ''"> and flow_company_people = #{flowCompanyPeople}</if>
            <if test="flowCompanyContact != null  and flowCompanyContact != ''"> and flow_company_contact = #{flowCompanyContact}</if>
        </where>
    </select>
    
    <select id="selectDjPartyMemberFlowById" parameterType="Long" resultMap="DjPartyMemberFlowResult">
        <include refid="selectDjPartyMemberFlowVo"/>
        where flow_id = #{flowId}
    </select>
        
    <insert id="insertDjPartyMemberFlow" parameterType="DjPartyMemberFlow" useGeneratedKeys="true" keyProperty="flowId">
        insert into dj_party_member_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowMemberId != null ">flow_member_id,</if>
            <if test="flowType != null  and flowType != ''">flow_type,</if>
            <if test="flowReasons != null  and flowReasons != ''">flow_reasons,</if>
            <if test="flowContact != null  and flowContact != ''">flow_contact,</if>
            <if test="flowPartyBranchContactPeople != null  and flowPartyBranchContactPeople != ''">flow_party_branch_contact_people,</if>
            <if test="flowPartyBranchContact != null  and flowPartyBranchContact != ''">flow_party_branch_contact,</if>
            <if test="flowCompany != null  and flowCompany != ''">flow_company,</if>
            <if test="flowCompanyPeople != null  and flowCompanyPeople != ''">flow_company_people,</if>
            <if test="flowCompanyContact != null  and flowCompanyContact != ''">flow_company_contact,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowMemberId != null ">#{flowMemberId},</if>
            <if test="flowType != null  and flowType != ''">#{flowType},</if>
            <if test="flowReasons != null  and flowReasons != ''">#{flowReasons},</if>
            <if test="flowContact != null  and flowContact != ''">#{flowContact},</if>
            <if test="flowPartyBranchContactPeople != null  and flowPartyBranchContactPeople != ''">#{flowPartyBranchContactPeople},</if>
            <if test="flowPartyBranchContact != null  and flowPartyBranchContact != ''">#{flowPartyBranchContact},</if>
            <if test="flowCompany != null  and flowCompany != ''">#{flowCompany},</if>
            <if test="flowCompanyPeople != null  and flowCompanyPeople != ''">#{flowCompanyPeople},</if>
            <if test="flowCompanyContact != null  and flowCompanyContact != ''">#{flowCompanyContact},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjPartyMemberFlow" parameterType="DjPartyMemberFlow">
        update dj_party_member_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowMemberId != null ">flow_member_id = #{flowMemberId},</if>
            <if test="flowType != null  and flowType != ''">flow_type = #{flowType},</if>
            <if test="flowReasons != null  and flowReasons != ''">flow_reasons = #{flowReasons},</if>
            <if test="flowContact != null  and flowContact != ''">flow_contact = #{flowContact},</if>
            <if test="flowPartyBranchContactPeople != null  and flowPartyBranchContactPeople != ''">flow_party_branch_contact_people = #{flowPartyBranchContactPeople},</if>
            <if test="flowPartyBranchContact != null  and flowPartyBranchContact != ''">flow_party_branch_contact = #{flowPartyBranchContact},</if>
            <if test="flowCompany != null  and flowCompany != ''">flow_company = #{flowCompany},</if>
            <if test="flowCompanyPeople != null  and flowCompanyPeople != ''">flow_company_people = #{flowCompanyPeople},</if>
            <if test="flowCompanyContact != null  and flowCompanyContact != ''">flow_company_contact = #{flowCompanyContact},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteDjPartyMemberFlowById" parameterType="Long">
        delete from dj_party_member_flow where flow_id = #{flowId}
    </delete>

    <delete id="deleteDjPartyMemberFlowByIds" parameterType="String">
        delete from dj_party_member_flow where flow_id in 
        <foreach item="flowId" collection="array" open="(" separator="," close=")">
            #{flowId}
        </foreach>
    </delete>
    
</mapper>