<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjPartyOrgPostMapper">

    <resultMap type="DjPartyOrgPost" id="DjPartyOrgPostResult">
        <result property="id"    column="id"    />
        <result property="partyOrgUuid"    column="party_org_uuid"    />
        <result property="partyMemberId"    column="party_member_id"    />
        <result property="partyPositionType"    column="party_position_type"    />
        <result property="tenureTime"    column="tenure_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDjPartyOrgPostVo">
        select id, party_org_uuid, party_member_id, party_position_type, tenure_time, del_flag,
        create_by, create_time, update_by, update_time
        from dj_party_org_post
    </sql>

    <select id="selectDjPartyOrgPostList" parameterType="DjPartyOrgPost" resultMap="DjPartyOrgPostResult">
        <include refid="selectDjPartyOrgPostVo"/>
        <where>
            <if test="partyOrgUuid != null "> and party_org_uuid = #{partyOrgUuid}</if>
            <if test="partyMemberId != null "> and party_member_id = #{partyMemberId}</if>
            <if test="partyPositionType != null  and partyPositionType != ''"> and party_position_type = #{partyPositionType}</if>
            <if test="tenureTime != null "> and tenure_time = #{tenureTime}</if>
        </where>
    </select>

    <select id="selectDjPartyOrgPostById" parameterType="Long" resultMap="DjPartyOrgPostResult">
        <include refid="selectDjPartyOrgPostVo"/>
        where id = #{id}
    </select>

    <insert id="insertDjPartyOrgPost" parameterType="DjPartyOrgPost" useGeneratedKeys="true" keyProperty="id">
        insert into dj_party_org_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="partyOrgUuid != null ">party_org_uuid,</if>
            <if test="partyMemberId != null ">party_member_id,</if>
            <if test="partyPositionType != null  and partyPositionType != ''">party_position_type,</if>
            <if test="tenureTime != null ">tenure_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="partyOrgUuid != null ">#{partyOrgUuid},</if>
            <if test="partyMemberId != null ">#{partyMemberId},</if>
            <if test="partyPositionType != null  and partyPositionType != ''">#{partyPositionType},</if>
            <if test="tenureTime != null ">#{tenureTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjPartyOrgPost" parameterType="DjPartyOrgPost">
        update dj_party_org_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="partyOrgUuid != null ">party_org_uuid = #{partyOrgUuid},</if>
            <if test="partyMemberId != null ">party_member_id = #{partyMemberId},</if>
            <if test="partyPositionType != null  and partyPositionType != ''">party_position_type = #{partyPositionType},</if>
            <if test="tenureTime != null ">tenure_time = #{tenureTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDjPartyOrgPostById" parameterType="Long">
        delete from dj_party_org_post where id = #{id}
    </delete>

    <delete id="deleteDjPartyOrgPostByIds" parameterType="String">
        delete from dj_party_org_post where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
