<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.party.mapper.DjPartyOrgMapper">

    <resultMap type="DjPartyOrg" id="DjPartyOrgResult">
        <result property="partyOrgId"    column="party_org_id"    />
        <result property="partyOrgUuid"    column="party_org_uuid"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="partyOrgName"    column="party_org_name"    />
        <result property="orgType"    column="org_type"    />
        <result property="partyOrgType"    column="party_org_type"    />
        <result property="buildTime"    column="build_time"    />
        <result property="leader"    column="leader"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="description"    column="description"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.ruoyi.project.party.domain.PartyOrgTreeData" id="PartyOrgTreeData">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="label"    column="label"    />
    </resultMap>

    <sql id="selectDjPartyOrgVo">
        select party_org_id,party_org_uuid, parent_id, ancestors, party_org_name, org_type,party_org_type,
        build_time, leader, phone,
        email, address ,description, order_num, status, del_flag, create_by, create_time, update_by, update_time
        from dj_party_org
    </sql>

    <select id="selectDjPartyOrgList" parameterType="DjPartyOrg" resultMap="DjPartyOrgResult">
        <include refid="selectDjPartyOrgVo"/>
        <where>
            del_flag = '0'
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="partyOrgUuid != null "> and party_org_uuid = #{partyOrgUuid}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="partyOrgName != null  and partyOrgName != ''">
             and party_org_name like concat('%', #{partyOrgName}, '%')
             </if>
            <if test="orgType != null  and orgType != ''"> and org_type = #{orgType}</if>
            <if test="partyOrgType != null  and partyOrgType != ''"> and party_org_type = #{partyOrgType}</if>
            <if test="buildTime != null "> and build_time = #{buildTime}</if>
            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectDjPartyOrgById" parameterType="Long" resultMap="DjPartyOrgResult">
        <include refid="selectDjPartyOrgVo"/>
        where party_org_id = #{partyOrgId}
    </select>

    <insert id="insertDjPartyOrg" parameterType="DjPartyOrg" useGeneratedKeys="true" keyProperty="partyOrgId">
        insert into dj_party_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null ">parent_id,</if>
            <if test="partyOrgUuid != null ">party_org_uuid,</if>
            <if test="ancestors != null  and ancestors != ''">ancestors,</if>
            <if test="partyOrgName != null  and partyOrgName != ''">party_org_name,</if>
            <if test="orgType != null  and orgType != ''">org_type,</if>
            <if test="partyOrgType != null  and partyOrgType != ''">party_org_type,</if>
            <if test="buildTime != null ">build_time,</if>
            <if test="leader != null  and leader != ''">leader,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="orderNum != null ">order_num,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null ">#{parentId},</if>
            <if test="partyOrgUuid != null ">#{partyOrgUuid},</if>
            <if test="ancestors != null  and ancestors != ''">#{ancestors},</if>
            <if test="partyOrgName != null  and partyOrgName != ''">#{partyOrgName},</if>
            <if test="orgType != null  and orgType != ''">#{orgType},</if>
            <if test="partyOrgType != null  and partyOrgType != ''">#{partyOrgType},</if>
            <if test="buildTime != null ">#{buildTime},</if>
            <if test="leader != null  and leader != ''">#{leader},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDjPartyOrg" parameterType="DjPartyOrg">
        update dj_party_org
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="partyOrgUuid != null ">party_org_uuid = #{partyOrgUuid},</if>
            <if test="ancestors != null  and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="partyOrgName != null  and partyOrgName != ''">party_org_name = #{partyOrgName},</if>
            <if test="orgType != null  and orgType != ''">org_type = #{orgType},</if>
            <if test="partyOrgType != null  and partyOrgType != ''">party_org_type = #{partyOrgType},</if>
            <if test="buildTime != null ">build_time = #{buildTime},</if>
            <if test="leader != null  and leader != ''">leader = #{leader},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where party_org_id = #{partyOrgId}
    </update>

    <delete id="deleteDjPartyOrgById" parameterType="Long">
        delete from dj_party_org where party_org_id = #{partyOrgId}
    </delete>

    <delete id="deleteDjPartyOrgByIds" parameterType="String">
        delete from dj_party_org where party_org_id in
        <foreach item="partyOrgId" collection="array" open="(" separator="," close=")">
            #{partyOrgId}
        </foreach>
    </delete>

    <select id="checkPartyOrgNameUnique" resultMap="DjPartyOrgResult">
        <include refid="selectDjPartyOrgVo"/>
        where party_org_name=#{partyOrgName} and party_org_id = #{partyOrgId}
    </select>

    <select id="selectNormalChildrenPartyOrgById" parameterType="Long" resultType="java.lang.Integer">
		select count(*) from dj_party_org where status = 0 and del_flag = '0' and find_in_set(#{partyOrgId}, ancestors)
	</select>

    <select id="hasChildByPartyOrgId" parameterType="Long" resultType="int">
		select count(1) from dj_party_org
		where del_flag = '0' and parent_id = #{partyOrgId}
	</select>

    <select id="checkOrgExistMember" parameterType="Long" resultType="int">
		select count(1) from dj_party_member where party_org_id = #{partyOrgId} and del_flag = '0'
	</select>

    <update id="updatePartyOrgStatus" parameterType="DjPartyOrg">
        update dj_party_org
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where party_org_id in (${ancestors})
    </update>

    <update id="updatePartyOrgChildren" parameterType="java.util.List">
        update dj_party_org set ancestors =
        <foreach collection="partyOrgs" item="item" index="index"
                 separator=" " open="case party_org_id" close="end">
            when #{item.partyOrgId} then #{item.ancestors}
        </foreach>
        where party_org_id in
        <foreach collection="partyOrgs" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.partyOrgId}
        </foreach>
    </update>

    <select id="selectChildrenPartyOrgById" parameterType="Long" resultMap="DjPartyOrgResult">
		select * from dj_party_org where find_in_set(#{partyOrgId}, ancestors) and del_flag = '0'
	</select>


    <select id="getPartyOrgTreeData" parameterType="Long" resultMap="PartyOrgTreeData">
		select
		party_org_id as id ,
		parent_id ,
		party_org_name as label
		from dj_party_org
		where del_flag = '0'
        <if test="partyOrgs != null and partyOrgs.size() > 0 ">
            and party_org_id in
            <foreach collection="partyOrgs" item="item" index="index"
                     separator="," open="(" close=")">
                #{item.partyOrgId}
            </foreach>
        </if>
	</select>

    <select id="getOrgCount" resultType="Integer">
	    select count(1)
	    from dj_party_org
		where del_flag = '0'
	</select>

    <select id="getOrgMemberChartData" resultType="java.util.HashMap">
        SELECT org.party_org_name AS name,
	           count( 1 ) AS  value
        FROM dj_party_org org
	    LEFT JOIN dj_party_member member ON member.party_org_id = org.party_org_id
        GROUP BY org.party_org_id
    </select>

</mapper>
