.activity_screen {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  background-color: #FFFACD;
  background: url("../../image/activity_screen_bg.jpg") no-repeat !important;
  background-size: 100% 100% !important;
  background-color: #FFFACD !important;
}

.activity_title {
  height: 80px;
  line-height: 80px;
  margin-bottom: 30px;
  padding-left: 50px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #a5090c;
  text-shadow: 0px 1px 0px #999,
  0px 2px 0px #888,
  0px 3px 0px #777,
  0px 4px 0px #666,
  0px 5px 0px #555,
  0px 6px 0px #444,
  0px 7px 0px #333,
  0px 8px 7px #001135;
}

.activity_qrcode {
  height: 500px;
  padding: 50px;
}

.activity_qrcode > img {
  margin: auto;
}

.activity_detail_title {
  line-height: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: transparent;
  letter-spacing: 5px;
  -webkit-text-stroke: 3px #a00;
  text-shadow: 0px 1px 0px #a99,
  0px 2px 0px #a88,
  0px 3px 0px #a77,
  0px 4px 0px #a66,
  0px 5px 0px #a55,
  0px 6px 0px #a44,
  0px 7px 0px #a33,
  0px 8px 7px #a22;
}

.activity_detail {
  margin-bottom: 20px;
  display: block;
}

.activity_detail_label {
  width: 250px;
  line-height: 30px;
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 24px;
  color: #000000;
  padding: 0 12px 0 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.activity_detail_content {
  margin-left: 250px;
  line-height: 30px;
  position: relative;
  font-size: 24px;
  color: #ff0000;
}

.no_arrive {
  opacity: 0.5;
}

.member_info {
  width: 200px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.member_label {
  border: 1px solid #999;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.member_count {
  color: transparent;
  font-size: 30px;
  font-weight: 600;
}

.plan_label {
  background: #0b9eff;
}

.plan_count {
  -webkit-text-stroke: 3px #0b9eff;
}

.arrive_label {
  background: green;
}

.arrive_count {
  -webkit-text-stroke: 3px green;
}

.late_label {
  background: red;
}

.late_count {
  -webkit-text-stroke: 3px red;
}
